.container {
  max-width: 1680px;
  margin: 0 auto;
  padding-inline: 80px;
}

@media screen and (max-width: 1220px) {
  .container {
    max-width: 1680px;
    margin: 0 auto;
    padding-inline: 30px;
  }
  
}